# user-specific
db/*.sqlite3
log/*.log

# tmp & cache
tmp/
.sass-cache/
profiling/
attachments/
build/
.terraform/

# cover_me generated
coverage
coverage.data
.coverage
htmlcov/

# junk
.DS_Store
*~
*flymake.html
*flymake.py

# compiled files
*.py[co]

# environment
env/
.env*
.auto.tfvars

# Local project settings
src/project/local_settings.py
