version: '3.8'

services:
  init:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "
        python3 manage.py migrate --noinput && 
        python3 manage.py createsuperuser --noinput
      "
    env_file: .env
    depends_on:
      - db
    restart: "no"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn project.wsgi --pythonpath src --workers ${WORKERS} --config gunicorn.conf.py --bind 0.0.0.0:8000
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery --workdir=src --app=project worker
    env_file: .env
    depends_on:
      - db
      - redis

  db:
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shareabouts
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL","psql -U docker -d fsdb -c \"SELECT ST_Buffer( ST_SetSRID('POINT(0 0)'::GEOMETRY, 4326), 1) AS geom ;\""]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"