# ==============================
# Web server
# ==============================

Django<2.0,>1.11
gevent
gunicorn
dj_static



# ==============================
# Background processing
# ==============================

celery<4.0  # For Django 1.8
django-celery



# ==============================
# Database and Persistence
# ==============================

# DB Settings and Management
psycopg2-binary
psycogreen
dj-database-url
django-object-actions

# Caching
django-redis<4.12
django-cache-url

# File Storage
boto
django-storages



# ==============================
# User Accounts and Social Media
# ==============================

django-loginas
social-auth-core
social-auth-app-django
python-social-auth==0.2.21  # <-- Just for the migrations
django-cors-headers



# ==============================
# REST API
# ==============================

djangorestframework>3.3,<3.4
djangorestframework-csv==1.3.0
git+https://github.com/mjumbewu/django-rest-framework-bulk.git@492d76237dca99373d958daa68c9b3641bc7bbc5#egg=djangorestframework-bulk==0.2.1-m1
six
markdown<3  # For browsable API docs
python-dateutil
ujson
Pillow

# The Django admin interface
django-ace

# The manager interface
requests



# ==============================
# Testing, validating, and debugging
# ==============================

nose
django-nose
mock
mock_django
responses
django-debug-toolbar<2.0
raven  # For Sentry error logging


# - - - - - - - - - - - - - - - -

# For DRF 0.4 (deprecated)
URLObject>=0.6.0
