amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.2
billiard==3.6.4.0
boto3==1.28.3
botocore==1.31.3
cached-property==1.5.2
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==39.0.1
defusedxml==0.7.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.20
django-ace==1.14.0
django-cache-url==3.4.4
django-celery-results==2.4.0
django-cors-headers==4.2.0
django-debug-toolbar==4.1.0
django-loginas==0.3.11
django-nose==1.4.7
django-object-actions==4.1.0
django-redis==4.11.0
django-samesite-none==0.0.3
django-storages==1.9.1
djangorestframework==3.12.4
djangorestframework-csv==1.3.0
gevent==22.10.2
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
importlib-metadata==4.13.0
jmespath==1.0.1
kombu==5.2.4
Markdown==2.6.11
mock==5.0.1
mock-django==0.6.10
nose==1.3.7
oauthlib==3.2.2
Pillow==9.4.0
prompt-toolkit==3.0.36
psycogreen==1.0.2
psycopg2-binary==2.9.6
pycparser==2.21
PyJWT==2.6.0
python-dateutil==2.8.2
python-social-auth==0.2.21
python3-openid==3.2.0
pytz==2022.7.1
raven==6.10.0
redis==4.5.1
requests==2.28.2
requests-oauthlib==1.3.1
responses==0.22.0
# The following line is important to keep, as it tells pip where to find the
# shareabouts-djangorestframework-bulk package.
--extra-index-url https://us-central1-python.pkg.dev/poepublic-shareabouts/pypi/simple/
s3transfer==0.6.1
shareabouts-djangorestframework-bulk==0.2.1
six==1.16.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.3
static3==0.7.0
toml==0.10.2
types-toml==0.10.8.3
typing_extensions==4.4.0
ujson==5.7.0
urllib3==1.26.14
URLObject==2.4.3
vine==5.0.0
wcwidth==0.2.6
zipp==3.13.0
zope.event==4.6
zope.interface==5.5.2
