# The server
django>=1.4
# gevent
gunicorn

# Persistance
psycopg2
dj-database-url
south
django-redis
boto
django-storages

# REST API
djangorestframework>=2.2
markdown
python-dateutil
ujson

# The manager interface
requests>=1.0.0

# Testing, validating, and debugging
nose
django-nose
mock
mock_django
django-debug-toolbar

# =====================================

# For DRF 0.4 (deprecated)
URLObject>=0.6.0
