# ==============================
# Web server
# ==============================

Django>4.2,<5
gevent
gunicorn
dj_static
django-samesite-none  # Middleware to work around https://code.djangoproject.com/ticket/30862



# ==============================
# Background processing
# ==============================

celery
importlib-metadata<5  # https://stackoverflow.com/a/74125067/123776
django-celery-results



# ==============================
# Database and Persistence
# ==============================

# DB Settings and Management
psycopg2-binary>=2.9
psycogreen
dj-database-url
django-object-actions>=3  # https://github.com/crccheck/django-object-actions/releases

# Caching
django-redis<4.12
django-cache-url

# File Storage
boto3
django-storages



# ==============================
# User Accounts and Social Media
# ==============================

django-loginas>=0.3.11
social-auth-core
social-auth-app-django>=5  # https://github.com/python-social-auth/social-app-django/blob/master/CHANGELOG.md
python-social-auth==0.2.21  # <-- Just for the migrations
django-cors-headers



# ==============================
# REST API
# ==============================

djangorestframework>=3.14,<3.15
djangorestframework-csv==1.3.0

--extra-index-url https://us-central1-python.pkg.dev/poepublic-shareabouts/pypi/simple/
shareabouts-djangorestframework-bulk==0.2.1

six
markdown<3  # For browsable API docs
python-dateutil
ujson
Pillow

# The Django admin interface
django-ace

# The manager interface
requests



# ==============================
# Testing, validating, and debugging
# ==============================

nose>=1.3.7
django-nose
mock
mock_django
responses
django-debug-toolbar>3
sentry-sdk[django]  # For Sentry error logging


# - - - - - - - - - - - - - - - -

# For DRF 0.4 (deprecated)
URLObject>=0.6.0
