option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: /opt/python/current/app/static/
  aws:elasticbeanstalk:container:python:
    WSGIPath: /opt/python/current/app/wsgi.py
commands:
  00_install_gdal:
    command: 'yum install -y --enablerepo=epel gdal'
container_commands:
  01_collect_static:
    command: 'source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python /opt/python/current/app/src/manage.py collectstatic --noinput'

packages:
  yum:
    postgresql93-server: []
    postgresql93-devel: []
    git: []
