option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    /static: /static
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
commands:
  00_install_gdal:
    command: 'yum install -y --enablerepo=epel gdal'
packages:
  yum:
    postgresql93-server: []
    postgresql93-devel: []
    git: []
