<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shareabouts API</title>
    <meta property="og:title" content="Shareabouts API - API to crowdsource place data for civic projects." />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Shareabouts API" />
    <meta property="og:url" content="http://api.shareabouts.org" />
    <meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/sSAVeOtmTKLOXl8.png" />
    <meta property="og:description" content="Shareabouts API now accepting requests for private beta access. Sign up now!" />
  </head>

  <body>
    <div rel="{{ LAUNCHROCK_KEY }}" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="api.shareabouts.org" data-css=""></div>
    <script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
  </body>
</html>