.form-horizontal fieldset {
  width: 100%;
}

.form-horizontal textarea,
.form-horizontal input[type="text"],
.form-horizontal input[type="password"],
.form-horizontal input[type="datetime"],
.form-horizontal input[type="datetime-local"],
.form-horizontal input[type="date"],
.form-horizontal input[type="month"],
.form-horizontal input[type="time"],
.form-horizontal input[type="week"],
.form-horizontal input[type="number"],
.form-horizontal input[type="email"],
.form-horizontal input[type="url"],
.form-horizontal input[type="search"],
.form-horizontal input[type="tel"],
.form-horizontal input[type="color"],
.form-horizontal .uneditable-input {
  width: 95%;
}

.form-horizontal textarea {
  padding: 0.4em;
  height: 1.25em;
}