#place-map {
  height: 300px;
  margin-top: 35px;
  border: 1px solid #DDD;
}

.place-fields .form-horizontal fieldset {
  width: 100%;
}

.place-fields .form-horizontal textarea,
.place-fields .form-horizontal input[type="text"],
.place-fields .form-horizontal input[type="password"],
.place-fields .form-horizontal input[type="datetime"],
.place-fields .form-horizontal input[type="datetime-local"],
.place-fields .form-horizontal input[type="date"],
.place-fields .form-horizontal input[type="month"],
.place-fields .form-horizontal input[type="time"],
.place-fields .form-horizontal input[type="week"],
.place-fields .form-horizontal input[type="number"],
.place-fields .form-horizontal input[type="email"],
.place-fields .form-horizontal input[type="url"],
.place-fields .form-horizontal input[type="search"],
.place-fields .form-horizontal input[type="tel"],
.place-fields .form-horizontal input[type="color"],
.place-fields .form-horizontal .uneditable-input {
  width: 95%;
}