{% extends "manager/base.html" %}
{% load url from future %}

{% block content %}

<h1>Change Password</h1>

{% if form.errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-error">{{ error }}</div>
  {% endfor %}
{% endif %}

<form method="post" class="form-horizontal">
{% csrf_token %}

  <div class="control-group">
    <label class="control-label" for="id_username">New Password</label>
    <div class="controls">
      {{ form.new_password }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="id_password">Confirm Password</label>
    <div class="controls">
      {{ form.confirm_password }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Save Password</button>
    </div>
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock content %}
