DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'shareabouts',
        'USER': 'shareabouts',
        'PASSWORD': 'shareabouts',
        'HOST': '',
        'PORT': '',
    }
}

DEFAULT_FILE_STORAGE = 'storages.backends.s3.S3Storage'
AWS_ACCESS_KEY_ID = ''
AWS_SECRET_ACCESS_KEY = ''
AWS_STORAGE_BUCKET_NAME = 'shareabouts_attachments'
AWS_QUERYSTRING_AUTH = False

LAUNCHROCK_KEY = 'ABCDEFG'
